.bar {
  position:absolute;
  height:20px;
  opacity:0.7;
  text-align:center;
  color:white;
    border-radius:25px;
    top:10px;
}
.year{
  width:100%;
  text-align:center;
  height:40px;
  line-height:40px;
  border-bottom:2px solid;
}
.month{
  float:left;
  width:8.3%;
  text-align:center;
  height:40px;
  line-height:40px;
  box-shadow: 1px 0px 0px 0px #888888;
  border-bottom:1px dashed;
}

.month-bar{
  float:left;
  width:8.3%;
  height:41px;
  box-shadow: 1px 0px 0px 0px #888888;
  border-bottom:1px dashed;

}

.box-bar{
  width:100%;
  position:relative;
  clear:both;
}

.box-title{
  line-height:40px;
  text-align:right;
  padding-right:20px;
  border-bottom:1px dashed;
  border-right:2px solid;
}

.box-secmony{
  height:40px;text-align:right;padding-right:20px;line-height:40px;
  border-bottom:1px dashed;
  border-right:2px solid;
}

.current-month{
  background-color:#888888;
  color:white;
  opacity:0.8;
}
